@font-face {
    font-family: 'akkuratnormal';
    src: url('sources/fonts/akkurat-normal-webfont.woff2') format('woff2'),
         url('sources/fonts/akkurat-normal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'akkurat-monoregular';
    src: url('sources/fonts/akkurat-mono-webfont.woff2') format('woff2'),
         url('sources/fonts/akkurat-mono-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'akkuratleicht';
    src: url('sources/fonts/akkurat-leicht-webfont.woff2') format('woff2'),
         url('sources/fonts/akkurat-leicht-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@mixin fontSize($sizeValue){
    font-size: $sizeValue * 1px;
    font-size: calc($sizeValue/10) * 1rem;
}

html {
    scroll-behavior: smooth;
}
img {
  max-width: 100%;
  height: auto;
}

body {
    background: rgb(247, 246, 240);

  margin: 0;
  p {
    line-height: 1.3;
    font-family: akkuratleicht,
    sans-serif;
  }
  @include fontSize(8);
  a, button {
    font-family: akkurat-monoregular, sans-serif;
    text-decoration: none;
    font-weight: 400;
    color: black;
    word-wrap: break-word;

    &:hover {
        text-decoration: underline;
    }
  }
  h1, h2, h3, h4{
    font-family: akkuratnormal, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
  }
}
p strong  {
    font-family: akkuratnormal, sans-serif;
    font-weight: 700;
}
h1 {
    @include fontSize(9);
    margin-top: 5px;
}


.flex {
  display: flex;
  flex-flow:wrap;
  justify-content: space-between;
}

body {
    padding:10px;
}
main {
    min-height: calc(100vh - 20px)
}

main, .homepageContainer {
    @extend .flex;
    max-width: 1800px;
    margin: 0 auto;
}
button {
    background: none;
    border: none;
    padding: 0;
}
// footer 
footer {

    position: absolute;
    right: 10px;
    bottom: 0;

}

// page side

.pageSide {
    width: 18%;
    position: relative;
}
.mission {
    display: none;
    position: fixed;
    left: calc(18% + 40px);
    width: 18%;
    padding-right: 20px;
    border-right: 1px solid #dadbdd;
    height: calc(100vh - 20px);
    h1 {
        margin-bottom: 50px;
    }

}
.press {
    display: none;
}
.headingInfo {
    position: absolute;
    height: calc(100vh - 20px);
    padding-right: 10px;
    border-right: 1px solid #dadbdd;
}
.headingMenu {
    a, button {
        display: block;
        margin: 3px 0;
    }

}
.headingDesc {
    margin-bottom:50px;
}
.headingDesc p:nth-child(3) {
    margin-top: 50px;
    margin-bottom: 3px;
}
.headingDesc p:nth-child(4) {
    margin-top: 0;
}
.homepageContainer {
    .mission {
        display: block;
    }
    .missionButton {
        display: none;
    }
    .homepageSide {
        @extend .flex;
        .headingInfo{
            width: 100%;
        }
    }
}
// home page 
.homepage {
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    padding: 10px;
    width: calc(60% - 40px);
    

    justify-content: space-between;
    img {
    
    }
}
