@font-face {
    font-family: akkuratnormal;
    src: local('akkuratnormal'), url(sources/fonts/akkurat-normal-webfont.woff) 
         format('woff'),
         local('akkuratnormal'), url(sources/fonts/akkurat-normal-webfont.woff2) format('woff2');

    font-weight: normal;
    font-style: normal;

}




// @font-face {
//     font-family: akkurat-monoregular;
//     src: url('sources/fonts/akkurat-mono-webfont.woff2') format('woff2'),
//          url('sources/fonts/akkurat-mono-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;

// }




// @font-face {
//     font-family: akkuratleicht;
//     src: url('sources/fonts/akkurat-leicht-webfont.woff2') format('woff2'),
//          url('sources/fonts/akkurat-leicht-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;

// }
@mixin fontSize($sizeValue){
    font-size: $sizeValue * 1px;
    font-size: calc($sizeValue/10) * 1rem;
}

html {
    scroll-behavior: smooth;
}
img {
  max-width: 100%;
  height: auto;
}
figure {
    margin: 0;
}

body {
    background: rgb(247, 246, 240);

  margin: 0;
  p, span{
    line-height: 1.3;
    letter-spacing: -0.3px;
    // font-family: akkuratleicht,
    // sans-serif;
    font-family: akkuratnormal, sans-serif;
    font-weight: 300;
  }
  @include fontSize(7.5);
  a, button {
    font-family: akkuratnormal, sans-serif;
    text-decoration: none;
    font-weight: 300;
    @include fontSize(7.5);
    color: black;
    word-wrap: break-word;

    &:hover {
        text-decoration: underline;
    }
  }
  h1, h2, h3, h4{
    font-family: akkuratnormal, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    // letter-spacing: -0.3px;

  }
}
p strong  {
    font-family: akkuratnormal, sans-serif;
    font-weight: 500;
}
h1 {
    @include fontSize(10.5);
    margin-top: 5px;
}
h2 {
    @include fontSize(8.5);
}


.flex {
  display: flex;
  flex-flow:wrap;
  justify-content: space-between;
}

body {
    padding: 10px 20px;
}
main {
    // min-height: calc(100vh - 20px)
}

main, .homepageContainer {
    @extend .flex;
    max-width: 1800px;
    margin: 0 auto;
}
button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}
// footer 
footer {

    position: fixed;
    right: 10px;
    bottom: 0;

}
// video
.embeddedContainer {
    max-width:800px;
    margin: 20px auto;
    width: 100%;
}
.embedVideoContent {
    position: relative;
  padding-bottom: 54.25%;
  height: 0;
  width: 100%;
  margin: 0 auto;
  iframe {
    position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  }

}
video {
    max-height: 680px;
    max-width: 900px;
    width: 100%;
    // margin: 10px auto;
}

// page side
.menuButton, .closeMenuButton {
    display: none;
}

.pageSide {
    width: 18%;
    position: relative;
}
.pageSideCom {
    width: 18%;
    .comcastHeadingInfo {
        padding-right: 10px;
    border-right: 1px solid #dadbdd;
    }
}


.mission {
    display: none;
    z-index: 2;
    position: fixed;
    left: calc(18% + 40px);
    border-right: 1px solid rgb(247, 246, 240);
    background: rgb(247, 246, 240);
    width: 18%;
    padding-right: 30px;
    height: 100vh;
    top: 0;
    .missionInner {
        background: rgb(247, 246, 240);
        width: 100%;
        padding-right: 30px;
        border-right: 1px solid #dadbdd;
        height: calc(100vh - 30px);
        position: relative;
        top: 10px;
        h1 {
            position: absolute;
            top: 0;
        }
        .missionText {
            padding-top: 62px;
            width: 98%;
            // text-align: justify;
            // margin: 0 auto;
            // margin-left: auto;
            p:nth-child(1) {
                max-width: 220px;
            }
        }
    }

    button {
        position: absolute;
        top: 0.1rem;
        right: 20px;
        @include fontSize(15);
        &:hover {
            text-decoration: none;
        }
    }

}
.press {
    display: none;
    z-index: 3;
    position: fixed;
    left: calc(18% + 40px);
    border-right: 1px solid rgb(247, 246, 240);
    background: rgb(247, 246, 240);
    width: 18%;
    padding-right: 30px;
    height: 100vh;
    top: 0;
    .pressInner {
        background: rgb(247, 246, 240);
        width: 100%;
        padding-right: 30px;
        border-right: 1px solid #dadbdd;
        height: calc(100vh - 30px);
        position: relative;
        top: 10px;
        padding-top: 73px;
        button {
            position: absolute;
            top: 0.5rem;
            right: 20px;
            @include fontSize(15);
            &:hover {
                text-decoration: none;
            }
        }
        a {
            width: 100%;
            display: block;
            text-decoration: underline;
        }

    }
    
}
@keyframes moveup {
    from {top: -100vh;}
    to {top: 0;}
  }
.activepress, .activemission {
    display: block;
    animation-name: moveup;
  animation-duration: 1s;
}

.headingInfo {
    position: fixed;
    height: calc(100vh - 20px);
    padding-right: 20px;
    border-right: 1px solid #dadbdd;
    width: 16%;
    // margin-right: 20px;

}
.headingMenu {
    // counter-reset: itemCounter;
    a, button {
        display: block;
        margin: 5px 0;
        font-weight: 300;
        text-transform: uppercase;
        // text-shadow: 0px 0px 0.5px;
    }

}
// .headingMenu > *::before {
//     counter-increment: itemCounter;
//     content: counter(itemCounter, upper-alpha) "- ";
//     margin-right: 20px;
// }
.headingDesc {
    margin:50px 0;
    max-width: 223px;
    p {
        margin: 0;
    }
}
.headingDesc p:nth-child(3) {
    margin-top: 50px;
    margin-bottom: 3px;
}
.headingDesc p:nth-child(4) {
    margin-top: 0;
}
.homepageContainer {
    .mission {
        display: block;
        .missionInner h1 {
            display: none;
        }
        button {
            display: none;
        }
    }
    .missionButton {
        display: none;
    }
    .homepageSide {
        @extend .flex;
        .headingInfo{
            
        }
    }
}
// home page 
.homepage {
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    padding: 10px;
    grid-gap: 10px;
    width: calc(100% - 36% - 100px);
    justify-content: space-between;
}

//Casting page

.castingPage {
    width: calc(82% - 30px);
 
    figure img {
        width: 100%;
        height: auto;
    }
    .videoCasting:hover span, figure:hover span {
        opacity: 1;
    }
    
    span {
        position: absolute;
        color: white;
        top: 50%;
        left: 50%;
        opacity: 0;
        transition: .5s ease;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}


.castingText {

    position: fixed;
    bottom: 2px;
    width: 18%;

}
// masonry 
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.grid {
    width: 100%;
    margin: 0 auto;
    opacity: 0;
    animation: fadeIn 2s 1s forwards;
display: flex;
flex-flow: row wrap;
gap: 10px;
  
  }
  
  .grid-item {
    // grid-column: span 1; /* Take 1 column */
    // margin-bottom: 10px;
    position: relative;
    width: calc(25% - 10px);
    flex-basis: calc(33.333% - 16px); /* This makes the items take up 33.33% of the container width minus the gap */
    margin-bottom: 16px; /* Space between items in the same column */
    display: flex;
    flex-direction: column;
    
    img {
    object-fit: cover;
    width: 100%;
    height: auto;
    }
  }
  .grid-sizer {
    width: 25%;
  }
  .item--is-invisible {
    visibility: hidden;
  }

  .fiftyWidth {
    // grid-column: span 2; /* Take 1 column */
    width: calc(50% - 10px);

  }
  .seventyfiveWidth {
    // grid-column: span 3; /* Take 1 column */
    width: calc(75% - 10px);
  }

  

// .casting-column {
//     column-count: 4;
//     column-gap: 10px;
//     width: 100%;
//   }
  
//   .grid-item {
//     display: inline-block;
//     break-inside: avoid;
//     width: 100%;
//     position: relative;
//   }
  
//   .grid-item::before {
//     content: "";
//     float: left;
//     padding-top: 100%;
//   }
  
//   .grid-item.twentyfiveWidth::before {
//     padding-top: 25%;
//   }
//   .grid-item.fiftyWidth{
//     column-fill: 2;
//   }
  
//   .grid-item.fiftyWidth::before {
//     padding-top: 50%;
//   }
//   .grid-item.seventyfiveWidth {
//     width: 75%;
//   }
  
//   .grid-item.seventyfiveWidth::before {
//     padding-top: 75%;
//   }
  

// com casting 
.comCastBack {
    display: none;
}
.ComCastingHead {
    width: 1000%;
}
.comcastHeadingInfo {
    position: initial;
    width: 100%;
    height: calc(100% - 20px);
}
.comCastingPage {
    width: 100%;
    padding: 10px;
    h2 {
        // text-align: center;
        @include fontSize(25)
    }

    span, span a {
        @include fontSize(20);
        margin-bottom: 10px;
    }
}
.projDescription {
    margin: 0 auto;
    width: calc(100% - 40px);

    
}
.allProjectsList {
    a {
        display: block;
        margin-bottom: 10px;
    }
    .activeLink {
        text-decoration:line-through;
        pointer-events: none;
   cursor: default;
    }
}
.comCastingProj {
    width: 80%;
}
.comCastingContent {
    @extend .flex;
    justify-content: center;
    .fiftyWidth {
        width: calc(50% - 20px);
        // margin-bottom: 10px;
        padding: 10px;
    }
    .hundredWidth {
        width: 100%;
        max-width: 800px;
        margin: 10px auto;
    }

}
.passwordContainer {

    max-width: 600px;
    padding: 20px;
    margin: 10vw auto;
    text-align: center;
    input {
    border: 1px solid;
    min-height: 35px;
    min-width: 250px;

    }
    button {

    margin-left: 20px;
    border: 1px solid black;
    padding: 10px 20px;

    }

}

@media(max-width: 970px){

    .homepageContainer{
        .mission {
            display: none;
        }
         
        .missionButton,.activemission,.mission button {
            display: block;
        }

    }
    .headingInfo,.pageSideCom {
        width: 25%;
    }

    .homepage,.castingPage, .comCastingProj{
        width: calc(72% - 40px);
    }
    .press, .mission {
        left: calc(26% + 50px);
        width: 24%;
    }
 }
 @media(max-width: 700px){

    .homepageContainer {
        .mission {
            .missionInner {
                h1 {
                    display: block;
                }
                .missionText {
                    p:nth-child(1) {
                        max-width: 300px;
                    }
                }
            } 

        }
    }
    body{
        padding: 20px 5%;
        p, span, a, button {
            @include fontSize(10);
        }
        h1, h2 {
            @include fontSize(16);
        }
    }
    .menuButton {
        display: block;
        top: 50px;
    }
    .closeMenuButton {
        top: 22px;
        right: 20px;
        @include fontSize(15);
    }

    .menuButton, .closeMenuButton {
        position: fixed;
        
    }
    .pageSide {
        width: 0;
    }
    .headingInfo {
        z-index: 2;
        width: 0;
        padding: 0;
        border: none;
        .pageTitle {
            width: fit-content;
            position: fixed;
            z-index: 3;
            top: 20px;
            
            h1 {
                margin: 0;
            }
        }
    }
    .headingDesc,.headingMenu,.castingText {
        display: none;
    }
    .mobileActive  {
        display: block;
    }
    .menuButtonActive {
        content: '← CLOSE';
    }
    .headingInfoActive {
        width: 90%;
        background: #f7f6f0;
        top: 0;
        left: 0;
        z-index: 2;
        height: 100vh;
        padding: 20px 5%;
        .menuButton {
            display: none;

        }
        .closeMenuButton {
            display: block;
        }
    }
    .headingDesc {
        width: 80%;
        max-width: 100%;
    }
    .mission,.press  {
        width: calc(100% - 20px);
        background: #f7f6f0;
        border: none;
        top: 0;
        height: 100vh;
        left: 0;
        padding: 10px;

        button,.pressInner button {
            right: 5%;
        }
        .missionInner {
            border: none;
            width: 90%;
            
            padding: 0 5%;
        }
        .pressInner {
            border: none;
            width: 90%;
            padding: 75px 5%;

        }
    }

    .homepage, .castingPage {
        width: 100%;
    }
    .comCastingPage {
        h2, span {
            font-size: 1.5rem;
        }
    }
    .comCastBack {
        display: block;
    }
    .pageSideCom {
        width: 100%;
        .comcastHeadingInfo {
            border: none;
        }
        .allProjectsList {
            display: none;
            a {
                display: initial;
                margin-right: 10px;
            }

        } 
    }
    .comCastingProj {
        width: 100%;
        .fiftyWidth {
            width: 100%;
        }
    }
    .passwordContainer {
        text-align: left;
        padding: 0;
        padding-right: 20px;
        input {
            margin-top: 20px;
        }
        button {
            margin: 20px auto;
        }
    }
 }
 @media(max-width: 600px){
    .homepage {
        grid-template-columns: 100%;
    }
    .grid-sizer, .grid-item,.fiftyWidth, .seventyfiveWidth {
        width: 100%;
    }
 }


